@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input, button {
    font-family: "Roboto", sans-serif;
}

body {
    background: #4c8df5;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    height: 100vh;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
    padding: 5px;
    background: white;
    border-bottom: 2px solid grey;

    .back-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        
        .back-arrow {
            width: 30px;
            scale: 0.8;

            path {
                fill: #4c8df5;
            }
        }

        .back-text {
            position: relative;
            left: -9px;
            top: -3px;
            color: #4c8df5;
        }

    }
}